/*
* index.html
*/

.main {
    height: 100vh;
}

.main > .row > div {
    text-align: center;
    padding: 150px 0px;
}

.main > .row > .country {
    padding: 0px 0px;
}

/*
*  signin.html
*/

@media only screen and (min-width: 500px) {
    .signin {
        padding: 50px 150px;
    }
}

/*
* signup.html
*/

.signup > header.country {
    text-align: center;
    padding: 100px 0px;
}

@media only screen and (min-width: 500px) {
    .signup {
        padding: 50px 150px;
    }
}

/*
* list.html
*/

.list .country > header {
    text-align: center;
}

.list .foods .card img.card-img-top, .match .card img.card-img-top {
    width: 100%;
}

@media only screen and (min-width: 500px) {
    .list {
        padding: 100px 100px;
    }
}

